body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    padding: 40px;
}

h1 {
    margin-bottom: 20px;
    color: #2c3e50;
}

form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

input,
select,
button {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th,
td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #3498db;
    color: white;
}

.retour {

    display: inline-block;

    margin-top: 30px;

    background-color: #3ea0e8;

    color: white;

    padding: 12px 32px;

    border-radius: 999px;

    text-decoration: none;

    font-weight: bold;

    transition: 0.3s;

}

.retour:hover {

    background-color: #2980b9;

}